@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-text-base: 64, 142, 123;
    --color-text-muted: 219, 224, 210;
    --color-text-inverted: 31, 78, 67;
    --color-text-muted-button: 255, 255, 255;
    --color-bg-base: 23, 63, 53;
    --color-button-base: 31, 78, 67;
    --color-button-muted: 219, 224, 210;
    --box-color: transparent;
    --x-tic-color: rgb(var(--color-text-base));
    --o-tic-color: rgb(var(--color-text-muted));
    --box-size: 100px;
  }
}

body {
  background-color: rgb(var(--color-bg-base));
  color: rgb(var(--color-text-base));
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.box {
  width: calc(var(--box-size) * 3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box > div:nth-child(1) {
  border-right: 5px solid rgb(var(--color-text-muted));
  border-bottom: 5px solid rgb(var(--color-text-muted));
}

.box > div:nth-child(2) {
  border-bottom: 5px solid rgb(var(--color-text-muted));
}

.box > div:nth-child(3) {
  border-left: 5px solid rgb(var(--color-text-muted));
  border-bottom: 5px solid rgb(var(--color-text-muted));
}

.box > div:nth-child(4) {
  border-right: 5px solid rgb(var(--color-text-muted));
}

.box > div:nth-child(6) {
  border-left: 5px solid rgb(var(--color-text-muted));
}
.box > div:nth-child(7) {
  border-right: 5px solid rgb(var(--color-text-muted));
  border-top: 5px solid rgb(var(--color-text-muted));
}

.box > div:nth-child(8) {
  border-top: 5px solid rgb(var(--color-text-muted));
}

.box > div:nth-child(9) {
  border-left: 5px solid rgb(var(--color-text-muted));
  border-top: 5px solid rgb(var(--color-text-muted));
}

.x-tic,
.o-tic,
.no-tic {
  width: var(--box-size);
  height: var(--box-size);
  background-color: var(--box-color);
  cursor: pointer;
  position: relative;
}

.x-tic::after,
.x-tic::before {
  content: "";
  position: absolute;
  width: calc(var(--box-size) * 0.2);
  height: calc(var(--box-size) * 0.7);
  top: 50%;
  left: 50%;
  background-color: var(--x-tic-color);
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-tic::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.o-tic::before {
  content: "";
  position: absolute;
  width: calc(var(--box-size) * 0.625);
  height: calc(var(--box-size) * 0.625);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: calc(var(--box-size) * 0.175) solid var(--o-tic-color);
  transform: translate(-50%, -50%);
}

.x-tic.win::before,
.x-tic.win::after,
.o-tic.win::before {
  animation: win 1.5s ease-in-out 2;
  scale: 1.15;
}

@keyframes win {
  0% {
    scale: 1.125;
  }
  25% {
    scale: 1;
  }
  50% {
    scale: 1.125;
  }
  75% {
    scale: 1;
  }
  100% {
    scale: 1.15;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
